.mainHeader {
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 25px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainFooter {
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#cinemaLogo {
    width: 65px;
    position: absolute;
    left: 15px; 
}

h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

#githubLogo {
    width: 50px;
}

#movieSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    width: 325px;
    margin: 50px;
}

.card-body {
    background-color: rgb(204, 204, 204);
}

.card-img-top {
    height: 500px;
    object-fit: cover;
}

.page {
    background-color: rgb(24, 24, 24);
    font-family: 'Poppins', sans-serif;
}